@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Cutive+Mono&display=swap');
@import './reset.css';
@import './navbar.css';
@import './card.css';
@import './search-bar.css';
@import './filters.css';
@import './recipe-detail.css';
@import './home-page.css';
@import './favorites-page.css';
@import './recipes-page.css';

a {
  color: black;
}

body {
  font-family: 'Roboto Mono', monospace;
  
}

.recipes-page,
.favorites-page,
.detail-page {
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


